
header {
    background-color: #1F2229;
    display: flex;
    justify-content: center;
    max-height: 85PX;
  }
  
  .logo {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo-playground {
    height: 70px;
    margin-left: 20px;
  
  }
  
  .logo .icon path {
    color: #F3F3F3;
    stroke-width: 3px;
    stroke-dashoffset: -3000;
    stroke-dasharray: 3000;
  }
  
  .logo .icon path .is-active {
     animation-name: icon;
     animation-duration: 4s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
   }
  
  .logo .text {
    width: 250px;
    max-width: 900px;
  
  }
  
  .logo .text text {
    color: #F3F3F3;
    stroke-width: 3px;
    stroke-dashoffset: -800;
    stroke-dasharray: 800;
  
  }
  
  .logo .text text.is-active {
     animation-name: text;
     animation-duration: 4s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
   }
  
  @keyframes icon {
    50% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    75% {
      fill: transparent;
      stroke-width: 3px;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #F3F3F3;
      stroke-width: 0px;
    }
  }
  
  @keyframes text {
    50% {
      fill: transparent;
    }
    75% {
      fill: transparent;
      stroke-dashoffset: 0;
      stroke-width: 3px;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #F3F3F3;
      stroke-width: 0px;
    }
  }